{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  clj-http {:mvn/version "3.9.1"}
  cljs-http {:mvn/version "0.1.45"}
  cljs-node-io {:mvn/version "1.1.2"}
  hickory {:mvn/version "0.7.1-SNAPSHOT"}
  com.cemerick/url {:mvn/version "0.1.1"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}
                              org.clojure/test.check {:mvn/version "0.9.0"}
                              plumula/mimolette {:mvn/version "0.2.1"}}}
           :test {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :test-cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "3.2.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}
           :nrepl-server {:extra-deps {cider/cider-nrepl {:mvn/version "0.18.0"}
                                       cider/piggieback {:mvn/version "0.3.9"}}
                          :main-opts ["-m" "nrepl.cmdline" "--middleware"
                                      "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}}}